FRED

In [1]:
import pandas as pd
import requests 
import sys

In [2]:
def api_fred(series, key):
    
    """
    Se importa información económica de la FRED. 
    Ejm: 
    api_key: abcdefghijklmnopqrstuvwxyz123456
    series: GDP
    inicio: 1980-01-01
    fin: 2021-08-31
    
    Realizado por: Andrei Romero 
                   Mauricio Alvarado 
    """
    df = pd.DataFrame()
    url = f"https://api.stlouisfed.org/fred/series/observations?series_id={series}&api_key={key}&file_type=json"

    response = requests.get(url)
    if response.status_code == 200:
        pass
    else:
        print("Porfavor, revisa los datos ingresados.")
        sys.exit()
    
    response = response.json()
    observations = response.get("observations")
    
    values_list = []
    time_list = []
        
    for value in observations:
            value = value["value"]
            values_list.append(float(value))

    for time in observations:
            time = time["date"]
            time_list.append(time)
            
    dictio = {"time": time_list, f"{series}": values_list}
    df = pd.DataFrame(dictio)
    
    
                        
#         #Merging to the empty DataFrame
#         if df.empty is True:
#             df = pd.concat([df, dic])
#             print(f"Has importado tu variable {i}! \n")
            
#         else:
#             df = pd.merge(df, dic, how="outer")
#             print(f"Has importado tu variable {i}! \n")
    
    df = df.set_index("time")
    return df

In [3]:
series = 'CABPPRIVSA'
api_key = '5ea7806d8a7a82af62865307b8dbf7d0'

api_fred(series, api_key)

              CABPPRIVSA
time
1988-01-01  16466.483109
1988-02-01  19704.378621
1988-03-01  19420.945694
1988-04-01  21148.677854
1988-05-01  19129.807991
...                  ...
2022-07-01   7742.149219
2022-08-01  10887.446215
2022-09-01  10281.182626
2022-10-01   7523.838279
2022-11-01   8035.081250

[419 rows x 1 columns]

In [4]:
series = 'CABPPRIVSA'
api_key = '5ea7806d8a7a82af62865307b8dbf7d0'
url = f"https://api.stlouisfed.org/fred/series/observations?series_id={series}&api_key={api_key}&file_type=json"
response = requests.get(url)
response
json = response.json()

In [5]:
json.keys()

dict_keys(['realtime_start', 'realtime_end', 'observation_start', 'observation_end', 'units', 'output_type', 'file_type', 'order_by', 'sort_order', 'count', 'offset', 'limit', 'observations'])

In [6]:
json['observations']
df = pd.DataFrame(json['observations'])
df

    realtime_start realtime_end        date               value
0       2023-01-05   2023-01-05  1988-01-01  16466.483108968998
1       2023-01-05   2023-01-05  1988-02-01    19704.3786206515
2       2023-01-05   2023-01-05  1988-03-01    19420.9456936104
3       2023-01-05   2023-01-05  1988-04-01     21148.677853845
4       2023-01-05   2023-01-05  1988-05-01  19129.807991499398
..             ...          ...         ...                 ...
414     2023-01-05   2023-01-05  2022-07-01     7742.1492190606
415     2023-01-05   2023-01-05  2022-08-01     10887.446215311
416     2023-01-05   2023-01-05  2022-09-01    10281.1826262959
417     2023-01-05   2023-01-05  2022-10-01   7523.838279016651
418     2023-01-05   2023-01-05  2022-11-01  8035.0812495623995

[419 rows x 4 columns]